.pagination {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.pagination-item {
    display: inline-block;
}

.pagination-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #4285f4;
}

.pagination-icon {
    background: url(../images/nav_logo242.png) no-repeat;
    background-position: -74px 0;
    width: 20px;
    height: 40px;
    display: block;
}

.pagination-current {
    .pagination-icon {
        background-position: -53px 0;
    }

    .pagination-link {
        color: rgba(0,0,0,0.87);
    }
}

.pagination-start {
    &.pagination-active .pagination-icon {
        background-position: 0 0;
        width: 53px;
        float: right;
    }

    &:not(.pagination-active) .pagination-icon {
        background-position: -24px 0;
        width: 28px;
        margin-left: 52px;
    }
    
    .pagination-text {
        display: block;
        margin-right: 35px;
        clear: right;
    }
}

.pagination-end {
    &.pagination-active .pagination-icon {
        background-position: -96px 0;
        width: 71px;
    }

    &:not(.pagination-active) .pagination-icon {
        background-position: -96px 0;
        width: 45px;
        margin-right: 35px;
    }

    .pagination-text {
        display: block;
        margin-left: 53px;
    }
}

.pagination-end:not(.pagination-active),
.pagination-start:not(.pagination-active) {
    padding-bottom: 12px;
}
